h2{
	font-family: Avenir;
}

h4{
	font-family: Avenir;
}

p{
	font-family: Avenir;
	font-size:80%;
}

label{
	font-family: Avenir;
}

button{
  font-family: Avenir;
  font-size:80%;
  color: black;
  padding: 0.5em 0.9em;
  background-color: white;
  border-style: solid;
  border-width:0.05em;
  border-color:DimGray;
  transition: background-color 0.5s ease-out;
}

.nav-bar{
  border-style:solid;
  border-color: black;
  border-width:0.05em;
  padding-bottom: 0.3em;
  padding-top :0.5em;
  padding-left:1.5em;
  padding-right:1.5em;
}
.nav-bar .main-nav{
  font-family: Avenir;
  color:black;
  display: inline;
  border-style:none;
  text-decoration: none;
  padding-bottom: 0.3em;
  padding-top :0.5em;
  padding-left:1.5em;
  padding-right:1.5em;
}


.search{
	width:200px;
	height:30px;
}

.logo{}

.ac{}

.container{
  margin-top: 2em;
}

.container img{
	margin:20px;
}


.add-button{
  font-family: Avenir;
  font-size:80%;
  text-decoration: none;
  color: black;
  margin-top: 3rem;
  margin-left: 3.2rem;
  padding: 0.5em 0.9em;
  background-color: white;
  border-style: solid;
  border-width:0.05em;
  border-color:DimGray;
  transition: background-color 0.5s ease-out;
}

.add-button:hover{
  color: white;
  background-color: DimGray;

}

.container img:hover{
  opacity: 0.7;
}

.input-login{
  width:200px;
  height:20px;
}


.container .s1 label{
   margin-left: 2.5em;
}

.container .s2 label{
   margin-left: 3.5em;
}

.container .s3 label{
   margin-left: 3.5em;
}

.container .s4 label{
   margin-left: 4.2em;
}

.container .s5 label{
  margin-left: 3em;
}

.container .s6 label{
  margin-left: 4.3em;
}

.container .s7 label{
  margin-left: 3.8em;
}

.container .s8 label{
  margin-left: 4.8em;
}

.container .s9 label{
  margin-left: 3.8em;
}

.container p{
  margin-left:6.3em;
}

.container .s3 p{
  text-decoration: line-through;
}

.container .onsale p{
  text-decoration:none;
  color: red;
}

.display{
  display: inline-block;
  vertical-align: top;
}
