* {
  box-sizing: border-box;
}


meta{
  display:none;
}


@media(max-width: 85em){
  .list-left-top li{
    margin-right:4em;
    margin-left:1em;
  }

  .list-left-bottom a{
    margin-right:3.5em;
    margin-left:2.5em;
  }
}


@media(max-width: 72em){

  /* CODE ADDED FOR SKATEBOARD*/
  .product{
    margin-top:5.5em;
    margin-left:27%;
  }

  .product img{
    width:50%;
    height:50%;
  }

  .product h3{
    margin-top:25em;
    margin-left:-10em;
  }

  .product h4{
    margin-left:-11.5em;
  }

  .dropdown-product{
    margin-left:-11.5em;
  }

  .product-text p{
    margin-left: -11.5em;
  }
/*END*/

  .list-left-top{
    width:80%;
  }

  .list-left-top li{
    margin-right:4.5em;
    margin-left:4.5em;
  }

  .list-left-bottom{
    text-align: center;
    width:80%;
  }

  .list-left-bottom a{
    margin-right:4em;
    margin-left:4em;
  }

  .list-left-bottom img{
    width:180px;
    height:180px;
  }

  .list-right{
    margin-top:20em;
    margin-left:-90%;
  }

  .list-right-top{
    width:40%;
  }

  .list-right-top1, .list-right-top2, .list-right-top3{
    margin-left:1%;
  }

  .new-arrival-item li{
    border:none;
  }
}

@media(max-width: 64em){
  .list-left-top li{ 
    margin-right:3.5em;
    margin-left:3.5em;
  }
}

@media(max-width: 50em){
  .new-arrival-item li{
    display: block;
    border:none;
    padding-left: 2em;
  }

  .ig-img img{
    width:350px;
    height:350px;
    margin-left:-2em;
  }

  .forgot-password-info{
    margin-left:-2em;
  }

  .list-left-bottom a{
    display:none;
  }

  .list-left-bottom img{
    margin-top:1em;
    width:250px;
    height:250px;
  }

  .list-left-top-mobile{
    display:block;
    width:50%;
    margin-left:23%;
    text-align: center;
    margin-top:1em;
    font-family: Andale Mono, monospace;
    border-bottom-style: solid;
    border-width:1px;
    border-color:gray;
    padding-bottom:1em;
    padding-right:7em;
    padding-left:7em;
  }

  .list-right-top{
    width:45%;
  }

  .list-left-top{
    display:none;
  }

  .list-right-top1, .list-right-top2, .list-right-top3{
    margin-left:-2.5%;
    font-size:0.9em;
  }

  .list-right-top-result, .estimate-value{
    font-size:0.9em;
  }

  .main-body-payment{
    margin-left:25%;
  }
}
@media(max-width: 40em){
  .main-nav a{
    display:block;
    margin-left:4em;
    margin-top: -0.5em;
  }

  .login-info{
    margin-left:2em;
  }

  .register{
    margin-left:4em;
  }

  .list-left-top-mobile{
    width:55%;
    text-align: center;
    padding-left:4em;
    padding-right:4em;
    margin-left:20%;
  }

  .main-body-payment{
    margin-left:15%;
  }
}

.container .s1{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .s2{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .s3{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .s4{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .s5{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .s6{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .s7{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .s8{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .s9{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .w1{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .w2{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .w3{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .w4{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .h1{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .h2{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.container .h3{
  height: 300px;
  width: 200px;
  float: left;
  margin-top:50px;
  margin-left: 50px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.next-line{
  margin-bottom: 500px;
}

.space{
  margin-bottom: 900px;
}

.space-acc{
  margin-bottom: 500px;
}

@media(max-width: 100em){
  .space{
  margin-bottom: 1200px;
}

  .next-line{
  margin-bottom: 500px;
}
}

@media(max-width: 85em){
  .space-acc{
  margin-bottom: 500px;
}

  .next-line{
  margin-bottom: 800px;
}
}


@media(max-width: 80em){
  .space{
  margin-bottom: 1500px;
}

  .next-line{
  margin-bottom: 1000px;
}
  .space-acc{
  margin-bottom: 500px;
}
}


@media(max-width: 75em){
  .space{
  margin-bottom: 1200px;
}

  .space-acc{
  margin-bottom: 800px;
}

  .next-line{
  margin-bottom: 1000px;
}
}

@media(max-width: 70em){
  .space{
  margin-bottom: 1800px;
}
  .space-acc{
  margin-bottom: 800px;
}
  .next-line{
  margin-bottom: 800px;
}
}

@media(max-width: 65em){
    .space{
  margin-bottom: 1900px;
}

  .space-acc{
  margin-bottom: 500px;
}

}

@media(max-width: 60em){
    .space{
  margin-bottom: 2000px;
}
  .space-acc{
  margin-bottom: 800px;
}

}

@media(max-width: 45em){
  .space{
  margin-bottom: 1900px;
}

 .space-acc{
  margin-bottom: 800px;
}

}

@media(max-width: 40em){
 .space-acc{
  margin-bottom: 1800px;
}

}

@media(max-width: 35em){
  .next-line{
  margin-bottom: 1500px;
}
  .space{
  margin-bottom: 3200px;
}

 .space-acc{
  margin-bottom: 1200px;
}

}


.grid-row::after{
  content: "";
  display: block;
  clear: both;
}




