/*HomePage*/

/* nav start*/

.brandname {
	/* text align source: https://www.w3schools.com/css/css_align.asp */
	/* font source: https://www.w3.org/Style/Examples/007/fonts.en.html */
	text-align: center;
	font-family: Andale Mono, monospace;
	margin-top: 3em;

}

/* NEED TO BE ADDED*/
.brandname a{
	text-decoration: none;
	color: black;
}

nav{
	text-align: center;
	position: relative;
	margin-top:3em;
	
	
}

.main-nav a {

	color: black;
	min-height: 3.75em;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
	border-color:  #C0C6CC;
	margin-right:4em;

}

#login a{
	text-decoration: none;
	color: black;
}


#shoppingcart img{
	margin-top: 0.1em;
	
}


/*main body start*/ 

.arrival-text{
	/* font source: https://www.w3.org/Style/Examples/007/fonts.en.html */
	
	font-family:serif;
	font-size: 140%;
	font-weight: 100;
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.new-arrival-item li{
	display: inline;
	list-style-type: none;
	padding-right:5em;
	padding-left:5em;
	padding-bottom: 8em;
	margin-top: 3em;
	margin-left:-5em;
	margin-right:-5em;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: grey;

}

.new-arrival-item {	
	text-align: center;
}

.new-arrival-item img:hover{
	opacity: 0.7;
}

.shop-all-button{
	text-align: center;
	margin-top: 2.5em;
}

.button-back{
 	text-decoration: none;
 	font-size:90%;
  	color: black;
  	padding: 0.7em 3em;
  	background-color: white;
  	border-style: solid;
  	border-width:0.05em;
  	border-color:DimGray;
  	transition: background-color 0.5s ease-out;
  	margin-left: 10em;
}

.button-reset{
 	text-decoration: none;
 	font-size:90%;
  	color: black;
  	padding: 0.7em 3em;
  	background-color: white;
  	border-style: solid;
  	border-width:0.05em;
  	border-color:DimGray;
  	transition: background-color 0.5s ease-out;
}


.button-reset:hover, .button-reset:focus {
  	color: white;
  	background-color: DimGray;
}

.button-back:hover, .button-back:focus {
  	color: white;
  	background-color: DimGray;
}

.button-login:hover, .button-login:focus {
  	color: white;
  	background-color: DimGray;
}


.ig-text{
	font-family:serif;
	font-size: 140%;
	font-weight: 100;
	text-align: center;
	margin-top: 4em;
	margin-bottom: 1.5em;

}

.ig-img{
	text-align: center;

}

.ig-img ul{
	text-align: -webkit-match-parent;

}

.ig-img li{
	display: inline;
	list-style-type: none;
	
}

.ig-img img:hover{
	opacity: 0.7;
}

.follow-us-button, .payment-button{
	text-align: center;
	margin-top: 2.5em;


}

/*homepage end*/

/*About us start*/


.about-us-img {
	text-align: center;
	/*height: 40px;*/
}

.about-us-text p{
	font-family:Avenir;
	margin-left: 28%;
	margin-top: 4.5em;
	width: 50%;

}


/*Login Start*/



.login-username{
	position: relative;
	display: block;
	list-style-type: none;
}

.login-password{
	list-style-type: none;

}

.button-login{
 	text-decoration: none;
 	font-size:90%;
  	color: black;
  	padding: 0.7em 3em;
  	background-color: white;
  	border-style: solid;
  	border-width:0.05em;
  	border-color:DimGray;
  	transition: background-color 0.5s ease-out;
}

@media(max-width: 40em){
    .login-username{
	margin-left: -4em;
    }

    .login-password{
	margin-left: -4em;
    }

    .button-login{
    	margin-left: 4em;
    }

}

/*
.login-button{
	margin-left: 15%;
}*/

.login-info{

	position: relative;
	margin-left: 35%;
	margin-top: 3em;
	padding-bottom: 2em;
	width:31%;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: grey;

}


.login-info input{
	margin-top: 0.5em;
	 
}

.login-username p{
	margin-top: -2.5em;
	margin-left: 6.8em;
	color: red;
}

.login-password p{
	margin-top: -1.45em;
	margin-left: 4.7em;
	color: red;
}

.login-button{
	list-style-type: none;
}

.login-forgotpassword{
	font-size: 80%;
	color: blue;
	margin-top: -2em;
	margin-left: 13em;
}

@media(max-width: 45em){
	.login-forgotpassword{
		margin-top: 1em;
		margin-left: 8em;

	}
}
.login-forgotpassword:hover{
	text-decoration: underline;
	color: black;
}

.login-forgotpassword-text p, .register-text p{
	text-align: center;
}

.register{
	margin-left: 38%;
}


.login-username li{
	margin-top: 1em;
}

/*
.register-text {
	font-size: 120%;
	margin-top: 3em;
}*/

.forgot-password-info{
	margin-left: 35%;
	margin-top: 2em;
}

/*Login End*/

/*Shopping Cart start*/

.mycart, .login-text, .about-us-title{
	margin-top:3em;
	text-align: center;
	font-family: Andale Mono, monospace;
	border-bottom-style:solid;
	border-width:1px;
	border-color:gray;
}

.skateboards-title, .accessories-wheels, .accessories-helmet{
	margin-top:3em;
	text-align: center;
	font-family: Andale Mono, monospace;
	border-bottom-style:solid;
	border-width:1px;
	border-color:gray;
}

.accessories-helmet{
	margin-top:-3em;
}

@media(max-width: 50em){
	.accessories-wheels{
	margin-top:3em;
	margin-left:-1.5em;
}

	.accessories-helmet{
	margin-top:-3em;
	margin-left:-2.5em;
}

}

.list-left{
	margin-left:10%;
}

.list-left-top{
	text-align:center;
	width:40%;
	border-bottom-style: solid;
	border-width:1px;
	border-color:gray;
	padding-bottom:1em;
}

.list-left-top li{
	font-family:Andale Mono, monospace;
	display: inline;
	list-style-type: none;
	margin-right:4.5em;
	margin-left:2em;
}

.list-left-bottom{
	margin-left:-2em;
	width:40%;
}

.list-left-bottom li{
	font-family: Andale Mono, monospace;
	display:inline;
	list-style-type: none;
	margin-right:4.5em;
	margin-left:1em;
}

.list-right-top{
	margin-left:52%;
	width:33%;
	border-style: solid;
	border-width:2px;
	border-color:lightgray;
	border-radius: 0.25em;
	margin-top:-14.7em;

}

.list-right-top1{
	margin-left:-5%;
}

.GST{
	width:95%;
	padding-bottom:2em;
	border-bottom-style:solid;
	border-width: 1px;
	border-color:gray;
}

.list-right-top1 li{
	font-family: Andale Mono, monospace;
	list-style-type: none;
}

.list-right-top-result{
	margin-left:64%;
	margin-top:-6.35em;

}

.list-right-top-result li{
	font-family:Andale Mono, monospace;
	list-style-type: none;
}

.list-right-top2{
	padding-top:1.5em;
	margin-left:-5%;
}

.small-text-shipping{
	width:95%;
	padding-bottom:2em;
	border-bottom-style:solid;
	border-width: 1px;
	border-color:gray;
}

.list-right-top2 li{
	font-family: Andale Mono, monospace;
	list-style-type: none;
}

.list-right-top2 a{
	font-size:4px;
	color:gray;
}

.list-right-top3{
	padding-top: 1em;
	margin-left:-5%;
	padding-bottom:2em;
}

.list-right-top3 li{
	font-family: Andale Mono, monospace;
	list-style-type: none;
}

.input-box{
	margin-top:1.5em;
	padding-top:1em;
	width:93%;
}

.button-checkout{
	text-align:center;
	margin-bottom:-1em;
	font-family:monospace;
  	display: inline-block;
  	padding: 1em;
  	width:93%;
  	font-size:18px;
  	color: #FFF;
  	background-color: #333;
  	border-radius: 0.25em;
  	text-decoration: none;
    -webkit-transition: background-color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;
}

.button{
	margin-top:1em;
}

.button-checkout:hover, .button-checkout:focus{
	background-color: #999;
}

.estimate-value{
	font-family: Andale Mono, monospace;
	margin-left:64%;
	margin-top:3em;
	margin-bottom:-4.9em;
}

.estimate-value li{
	list-style-type: none;
}


/*Shopping Cart end*/

/*payment*/

.payment-img img{
	margin-top: 0.5em;
	margin-bottom: -0.5em;
}
.main-body-payment{
	margin-top:5em;
	margin-left:37%;
}

.payment-button{
	margin-top:5em;
	margin-left:-73%;
}

.payment-process p{
	margin-top:-0.5em;
}

#form-cardholder{
	margin-top:1em;
}

#form-cardnumber{
	margin-bottom:1em;
}

.desktop-cardicon{
	margin-left:0.5em;
}

#creditcardtypes{
	margin-top:0.5em;
	margin-bottom:1em;
}

#expirydateinput{
	margin-top:0.5em;
}

#form-securitycode{
	margin-top:1em;
	margin-bottom:1em;
}

/*payment end*/

/*payment confirm*/

.main-body-payment-confrim{
	font-family: Andale Mono, monospace;
	margin-top:3em;
	text-align: center;
}

.payment-complete{
	border-bottom-style:solid;
	border-width:1px;
	border-color:gray;

}

.payment-progress{
	margin-top:2em;
	margin-bottom:5em;
}

/*payment confrim end*/

.references-list{
	color: blue;

}

.product-text p{
	font-family:Avenir;
	margin-top: 2em;
	margin-bottom: 2em;
	width: 75%;
}

@media(max-width: 45em){
	.product-text p{
		font-family:Avenir;
	    margin-top: 2em;
	    margin-bottom: 2em;
	    width: 120%;

	}

}

@media(max-width: 35em){
	.product-text p{
		font-family:Avenir;
	    margin-top: 2em;
	    margin-bottom: 2em;
	    width: 160%;

	}

}

@media(max-width: 25em){
	.product-text p{
		font-family:Avenir;
	    margin-top: 2em;
	    margin-bottom: 2em;
	    width: 220%;

	}

}

/*footer*/

#socialmediaicons{
	text-align: center;
	margin-top: 2em;
	border-top-style:solid;
	border-width:1px;
	border-color:gray;
	padding-top: 2em;
}

#copyrightinfo{
	font-family: Andale Mono, monospace;
	font-size: 40%;
	text-align: center;
	margin-top: 2em;
}

#copyrightinfo a{
	text-decoration: none;
}

/*login start*/

.login-button{
	margin-top: 4em;
}

